<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="app.hisaab.capture.CaptureServiceBackfillInstrumentedTest$FakeSmsProvider"
            android:authorities="${applicationId}.fakesms"
            android:exported="false" />
    </application>
</manifest>
